.rustic-multipart {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rustic-multipart .rustic-file-preview {
  display: flex;
  align-items: center;
  padding: 8px;
  width: 220px;
  height: 56px;
}

.rustic-multipart .rustic-files {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
