.rustic-base-input {
  display: flex;
  align-items: flex-start;
}

.rustic-base-input .rustic-text-field {
  padding: 16px;
}

.rustic-base-input .rustic-text-field fieldset[aria-hidden='true'] {
  border-width: 1px;
  border: none;
}

.rustic-error-and-input-container {
  width: 100%;
}

.rustic-base-input .rustic-input-field {
  display: flex;
  border-radius: 16px;
  position: relative;
  flex-direction: column;
}

.rustic-base-input .rustic-input-label {
  padding-top: 8px;
}

.rustic-base-input .rustic-text-field .MuiOutlinedInput-input {
  padding: 0;
}

.rustic-base-input .rustic-text-field .MuiOutlinedInput-root {
  padding: 0;
}

.rustic-base-input .rustic-send-button {
  margin: 10px 8px;
}

.rustic-base-input .rustic-input-actions {
  display: flex;
}
