.rustic-base-input {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.rustic-base-input .rustic-text-field fieldset[aria-hidden='true'] {
  border-width: 1px;
}

.rustic-error-and-text-field-container {
  width: 100%;
}
