.rustic-file-preview .rustic-upload-progress {
  width: 40px;
  height: 8px;
}

.rustic-file-preview .rustic-flex-center {
  display: flex;
  align-items: center;
}

.rustic-uploader input {
  display: none;
}

.rustic-error-message {
  display: block;
}

.rustic-padding-16 {
  padding: 16px;
}
