.rustic-input-container .rustic-bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.rustic-input-container .rustic-text-input fieldset[aria-hidden='true'] {
  border-width: 1px;
}

.rustic-input-container .rustic-text-input {
  min-width: 248px;
}

.rustic-input-container .rustic-text-input .MuiOutlinedInput-root {
  flex-wrap: wrap;
  align-items: flex-start;
}

.rustic-input-container .rustic-files {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
