.rustic-popover-menu ul {
  padding: 0;
  min-width: 100px;
  max-width: 240px;
}

.rustic-popover-menu li {
  padding-block: 8px;
}

.rustic-popover-menu-item-icon {
  display: flex;
}

.rustic-popover-menu-item-start-icon {
  margin-right: 8px;
}

.rustic-popover-menu-item-end-icon {
  margin-left: 80px;
}
