.rustic-vega-lite-container {
  width: 100%;
  height: 100%;
  scroll-behavior: auto;
}

.rustic-vega-lite {
  flex: 1;
}

#rustic-vega-lite-tooltip {
  position: fixed;
  visibility: hidden;
}

#rustic-vega-lite-tooltip.visible {
  visibility: visible;
}
