.rustic-fc-calendar {
  padding: 16px;
}

.rustic-fc-calendar .fc-event-title {
  text-overflow: ellipsis;
}

.rustic-fc-calendar .fc-button {
  padding: 4px 8px;
}

@media (max-width: 900px) {
  .rustic-fc-calendar .fc-toolbar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }

  .rustic-fc-calendar .fc-toolbar .fc-toolbar-chunk:last-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
