.rustic-text-input-container {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.rustic-text-input-container .rustic-text-input fieldset[aria-hidden='true'] {
  border-width: 1px;
}

.rustic-text-input-and-error-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
