.rustic-message-archive {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  overflow: hidden;
}

.rustic-message-archive .rustic-message-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.rustic-message-archive .rustic-scroll-down-button {
  position: sticky;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: fit-content;
}
