.rustic-nav-bar {
  height: 72px;
  justify-content: space-between;
  padding: 16px;
}

.rustic-nav-bar-button {
  display: none;
}

@media (max-width: 900px) {
  .rustic-nav-bar-button {
    display: flex;
  }
}
