.rustic-file-preview {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
  justify-content: space-between;
  width: 220px;
  height: 56px;
}

.rustic-file-preview-modal {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-self: center;
  justify-self: center;
}

.rustic-file-preview-modal .rustic-modal-content {
  position: relative;
  width: 100%;
}

.rustic-modal-content .rustic-close-button {
  position: absolute;
  top: 16px;
  right: 16px;
}
