.rustic-file-preview {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px;
  justify-content: space-between;
  width: 220px;
}

.rustic-file-preview .rustic-upload-progress {
  width: 40px;
  height: 8px;
}

.rustic-file-preview .rustic-flex-center {
  display: flex;
  align-items: center;
}

.rustic-uploader input {
  display: none;
}

.rustic-files {
  display: flex;
  gap: 8px;
  padding: 8px;
  flex-wrap: wrap;
}

.rustic-error-message {
  display: block;
}
