.rustic-code-snippet {
    border-radius: 16px 16px 4px 4px;
    width: 100%;
    height: 100%;
}

.rustic-code-snippet p {
    padding: 16px;
}

.rustic-code-snippet .cm-editor {
    padding: 24px;
    overflow-x: auto;
}