.rustic-question > p > *:first-child {
  margin-top: 0;
}

.rustic-question .rustic-title {
  margin-bottom: 16px;
}

.rustic-question .rustic-answer-button {
  flex: 1;
  min-width: fit-content;
}

.rustic-question .rustic-answer-buttons-container {
  gap: 8px;
}
