.rustic-mermaid-container {
  height: 100%;
  width: 100%;
}

.rustic-mermaid-container .rustic-mermaid {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
}

.rustic-mermaid-container .rustic-mermaid svg {
  height: 100%;
  width: 100%;
}

.rustic-invisible {
  visibility: hidden;
}
