.rustic-table {
  max-width: calc(100vw - 100px);
}

.rustic-table .rustic-table-title {
  text-align: center;
}

.rustic-table .rustic-table-container {
  max-height: 40vh;
}

.rustic-table .rustic-table-pagination {
  min-height: 52px;
}
