.rustic-prompt-builder {
  padding: 24px;
}

.rustic-prompt-builder-avatar {
  width: 24px;
  height: 24px;
}

.rustic-prompt-builder-divider {
  margin-top: 16px;
  margin-bottom: 24px;
}

.rustic-prompt-builder-questions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rustic-prompt-builder-question {
  gap: 8px;
}

.rustic-prompt-builder-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
  gap: 16px;
}

.rustic-prompt-builder-buttons-left {
  width: 100%;
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.rustic-prompt-builder-dialog-buttons {
  display: flex;
  gap: 16px;
  padding: 24px;
}

@media (max-width: 900px) {
  .rustic-prompt-builder-buttons-right button {
    flex: 1;
  }

  .rustic-prompt-builder-buttons {
    flex-direction: column;
  }

  .rustic-prompt-builder-buttons-right {
    display: flex;
  }
}
