.rustic-recharts-time-series {
  display: flex;
  flex-direction: column;
}

.rustic-recharts-time-series-chart-toggle {
  align-self: end;
}

.rustic-recharts-time-series-chart-toggle-title {
  padding: 6px 16px;
}

.rustic-recharts-time-series-title {
  text-align: center;
}

.rustic-recharts-time-series-description {
  padding: 16px;
}

.rustic-recharts-time-series-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.rustic-recharts-time-series-legend-item {
  display: flex;
}

.recharts-responsive-container {
  font-size: 12px;
}

.recharts-legend-wrapper {
  display: flex;
  justify-content: center;
}
